<div class="sidebar">
  <div>
    <img src="https://i.imgur.com/9Q4oeZ3.png" alt="Logo" style="max-width: 80%; max-height: 80%;">

    <br/>

    <%= link_to "Dashboard", workreports_path, style: "color: white; text-decoration: none;" %>
    <br/>
    <br/>
    <%= link_to "Workreport", reports_path, style: "color: white; text-decoration: none;" %>
    <br/>
    <br/>
    <%= link_to "Attendances", attendances_path, style: "color: white; text-decoration: none;" %>
    <br/>
    <br/>
    
    <%= link_to 'Profile', profile_path, style: "color: white; text-decoration: none;" %>
    <br/>
    <br/>
    <% if can? :create, User %>
      <%= link_to 'Manage User ', users_path, style: "color: white; text-decoration: none;" %>
      <br/>
    <% end %>
  </div>

</div>
